.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #f9f9f9;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #1872a6;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color: #093d75;
  color: rgb(169, 209, 254);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-container p {
  margin-top: 15px;
  color: #1257a1;
  cursor: pointer;
}